.ing {
    background-image: url(/app/img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color:#fff;
    main{
        align-content:flex-end;
        min-width: 1440px;
    }
    div{
        flex-basis: 50%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 70px;
       
    }
    h2{
        font-size: 36px;
        line-height: 41px;
    }
    h2::after {
        content: "";
        display: block;
        background-image: url(/app/img/decoration\ 4\ 2.svg);
        height: 25px;
    }
    p{
        margin-top:30px;
        text-align: center;
    }
    ul {
        display: flex;
        align-items:center;
        justify-content: space-around;
        margin-top:60px;
        
        
    }
    &__li {
        width: 115px;
        height: 115px;
        border:5px solid rgba(204, 153, 0, 0.5);
        overflow: hidden;
        flex-basis: 25%;
        border-radius: 100%;
        text-align: center;
        img {
            margin:0 auto;
            transform: translate(-20px, -20px)
        }
    }
}